
  <h1>Topic List</h1>
<div>
  <label>Category</label>
  <select class="filter" (change)="onChangeCategory($event.target.value)">
    <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
  </select><br/>
</div>


  <div *ngFor = "let topic of topics | categoryFilter:filterByCategory" class="panel panel-default">
    <div class="panel-body">
    <h3><em>{{topic.topicName}}</em> under {{topic.topicCategory}} category. </h3>

    <!-- <p *ngFor="let comment of topic.comments"> Created by:
    {{comment.userName}}</p> -->

    <a><p>Comments: {{topic.comments.length}}</p></a>
    <button (click) = "displayCommentForm(topic)">Comment</button>
    </div>
  </div>

  <div *ngIf="topicToComment" class="hidepanel well">
    <h3>{{topicToComment.topicName}} {{topicToComment.topicCategory}}</h3>
    <label for="username">Your Name</label>
    <input #newUserName class="form-control">
    <label for="comment">Your Comment</label>
    <input #newComment class="form-control">
    <button (click) = "AddComment(newUserName.value, newComment.value); newUserName.value=''; newComment.value=''">Add Comment</button>
  </div>
